[submodule ".registry"]
	path = .registry
	url = https://github.com/climasus/climasus.r-universe.dev
	branch = HEAD
[submodule "climasus.data"]
	path = climasus.data
	url = https://github.com/climasus/climasus-data
	subdir = r-pkg
